# User-specific files
*.suo
*.user

# Build results
artifacts/
tools/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
bin/
Bin/
obj/
Obj/

# Visual Studio cache/options directory
.vs/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/

# SonarQube related files
\.github/\.sonarqube/

# NCrunch
*\.crunchsolution\.cache
*\.executiontimes\.cache

# MQTT Dumper Specific
*.machine.yaml
