paths:
  lists_output: C:\Dev\pihole-adlist\lists
  lists_repo: C:\Dev\pihole-adlist

database:
  connection_string: "Server=127.0.0.1;Uid=pihole;Pwd=password;Database=PiHoleDomains;Allow User Variables=true;SslMode=none"
  insert_batch_size: 15000
  update_batch_size: 30000
  lookup_batch_size: 25000

list_generation:
  category_lists: true
  combined_lists: false

ad_lists:
  - name: suspicious
    sources:
      - url: https://raw.githubusercontent.com/PolishFiltersTeam/KADhosts/master/KADhosts.txt
      - url: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.Spam/hosts
      - url: https://v.firebog.net/hosts/static/w3kbl.txt

  - name: advertising
    sources:
      - url: https://adaway.org/hosts.txt
      - url: https://v.firebog.net/hosts/AdguardDNS.txt
      - url: https://v.firebog.net/hosts/Admiral.txt
      - url: https://raw.githubusercontent.com/anudeepND/blacklist/master/adservers.txt
      - url: https://s3.amazonaws.com/lists.disconnect.me/simple_ad.txt
      - url: https://v.firebog.net/hosts/Easylist.txt
      - url: https://pgl.yoyo.org/adservers/serverlist.php?hostformat=hosts&showintro=0&mimetype=plaintext
      - url: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/UncheckyAds/hosts
      - url: https://raw.githubusercontent.com/bigdargon/hostsVN/master/hosts
      - url: https://abp.oisd.nl/basic/

  - name: tracking
    sources:
      - url: https://v.firebog.net/hosts/Easyprivacy.txt
      - url: https://v.firebog.net/hosts/Prigent-Ads.txt
      - url: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.2o7Net/hosts
      - url: https://raw.githubusercontent.com/crazy-max/WindowsSpyBlocker/master/data/hosts/spy.txt
      - url: https://hostfiles.frogeye.fr/firstparty-trackers-hosts.txt
      - url: https://raw.githubusercontent.com/lightswitch05/hosts/master/docs/lists/tracking-aggressive-extended.txt

  - name: malicious
    sources:
      - url: https://raw.githubusercontent.com/DandelionSprout/adfilt/master/Alternate%20versions%20Anti-Malware%20List/AntiMalwareHosts.txt
      - url: https://osint.digitalside.it/Threat-Intel/lists/latestdomains.txt
      - url: https://s3.amazonaws.com/lists.disconnect.me/simple_malvertising.txt
      - url: https://v.firebog.net/hosts/Prigent-Crypto.txt
      - url: https://raw.githubusercontent.com/FadeMind/hosts.extras/master/add.Risk/hosts
      - url: https://bitbucket.org/ethanr/dns-blacklists/raw/8575c9f96e5b4a1308f2f12394abd86d0927a4a0/bad_lists/Mandiant_APT1_Report_Appendix_D.txt
      - url: https://phishing.army/download/phishing_army_blocklist_extended.txt
      - url: https://malware-filter.gitlab.io/malware-filter/phishing-filter-hosts.txt
      - url: https://gitlab.com/quidsup/notrack-blocklists/raw/master/notrack-malware.txt
      - url: https://raw.githubusercontent.com/Spam404/lists/master/main-blacklist.txt
      - url: https://raw.githubusercontent.com/AssoEchap/stalkerware-indicators/master/generated/hosts
      - url: https://urlhaus.abuse.ch/downloads/hostfile/

  - name: adult
    enabled: false
    sources:
      - url: https://v.firebog.net/hosts/Prigent-Adult.txt

  - name: other
    sources:
      - url: https://zerodot1.gitlab.io/CoinBlockerLists/hosts_browser

whitelist:
  regex:
    - .*\.whatsapp\.(net|com)$
    - .*?\.gvt(\d{1,})\.com
  exact:
    - fonts.gstatic.com
